.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .about1{
      padding: 2rem;
      width: 40%;
  }
  .card {
    margin: auto;
    border-radius: 1rem;
    background-color: #D5B4B4;
    color: black;
  }
  
  