.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 0.5rem;
    background-color:#867070;
  }
  
  .image {
    height: 100%;
    width: 5%;
  }
  
  .nav-list {
    display: flex;
    align-items: center;
    gap: 5rem;
  }
  
  .About > * + * {
    margin-left: 1rem;
  }
  
  .no-underline {
    text-decoration: none;
    color: #F0F0F0;
    font-weight: 700; 
  }
  /* @media (max-width: 768px) {
    .Navbar {
      display: flex;
      flex-direction: column;
      /* Styles for screens up to 768px wide */
    /* }
    .About{
      display: none;
      /* flex-direction: column; */
    /* } */
     /* */ 
  /* } */ 
  @media (max-width: 768px) {
    .Navbar {
      display: flex;
      flex-direction: row;}
    .nav-list {
      display: none; /* Hide the nav list when screen size is reduced */
    }
  
    .nav-toggle {
      display: block; /* Show the nav toggle button when screen size is reduced */
    }
  
    .nav-list-open {
      display: flex !important; /* Show the nav list when the nav toggle button is pressed */
      flex-direction: column;
      align-items: center;
    }
  
    .nav-item {
      padding: 5px;
    }
  }
  
  /* Media query for screens up to 576px wide */
  @media (max-width: 576px) {
    .Navbar {
      /* Styles for screens up to 576px wide */
    }
  }